[submodule "external/rl_tools"]
	path = external/rl_tools
	url = https://github.com/rl-tools/rl-tools.git
[submodule "external/firmware"]
	path = external/firmware
	url = https://github.com/rl-tools/crazyflie-firmware.git
[submodule "data"]
	path = data
	url = https://github.com/rl-tools/crazyflie-controller-blob.git
